{% macro checkApiKey() %}
    {% set apiKey = craft.app.plugins.plugin('seven').settings.apiKey %}

    {% if not apiKey|length %}
        {% redirect 'admin/settings/plugins/seven' with notice 'Missing API key'|t('seven') %}
    {% endif %}
{% endmacro %}

{% macro filters() %}
    {% if craft.commerce is defined %}
        <h2>{{ 'Filters'|t('seven') }}</h2>

        <div class='field'>
            <div class='heading'>
                <label for='filter_countries[]'>{{ 'Country'|t('seven') }}</label>
            </div>

            <div class='instructions'>
                <p>
                    {{ 'Restrict sending to customers from the selected countries.'|t('seven') }}
                    {{ 'Unused if field "to" is set.'|t('seven') }}
                </p>
            </div>

            <select id='filter_countries[]' multiple name='filter_countries[]'
                    style='display: block'>
                {% for countryId, countryName in craft.commerce.countries.allEnabledCountriesAsList %}
                    <option value='{{ countryId }}'>
                        {{- countryName -}}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endmacro %}

{% macro from(value) %}
    {% import '_includes/forms' as forms %}

    {% set settings = craft.app.plugins.plugin('seven').settings %}

    {{ forms.textField({
        instructions: 'A custom sender identifier (caller ID)'|t('seven'),
        label: 'From'|t('seven'),
        name: 'from',
        value: settings.from,
    }) }}
{% endmacro %}

{% macro json() %}
    {% import '_includes/forms' as forms %}

    {{ forms.lightswitch({
        id: 'json',
        label: 'JSON',
        name: 'json',
    }) }}
{% endmacro %}

{% macro messages() %}
    {% set error = craft.app.session.getFlash('error') %}
    {% set notice = craft.app.session.getFlash('notice') %}

    {% if error|length > 0 %}
        <div style='font-weight: bold;'>
            {{ 'Error(s)'|t('seven') }}
            {{ error }}
        </div>
    {% endif %}

    {% if notice|length > 0 %}
        <div style='font-weight: bold;'>
            {{ 'Notice(s)'|t('seven') }}
            {{ notice }}
        </div>
    {% endif %}
{% endmacro %}

{% macro submit() %}
    <button class='btn formsubmit' type='submit'>{{ 'Submit'|t('seven') }}</button>
{% endmacro %}

{% macro text(maxlength) %}
    {% import '_includes/forms' as forms %}

    {{ forms.textareaField({
        id: 'text',
        instructions: 'The actual message content'|t('seven'),
        label: 'Text'|t('seven'),
        maxlength: maxlength,
        name: 'text',
        required: true,
    }) }}
{% endmacro %}

{% macro to() %}
    {% import '_includes/forms' as forms %}

    {{ forms.textField({
        id: 'to',
        instructions: craft.commerce is defined
        ? 'Unused if any filters are set'|t('seven') : null ,
        label: 'Recipient(s) - separated by comma'|t('seven'),
        name: 'to',
    }) }}
{% endmacro %}
