{% import "sms77/common" as common %}
{% extends "_layouts/cp" %}

{% set title = "Send SMS"|t('sms77') %}

{% block header %}
    {{ common.checkApiKey() }}
    {{ common.messages() }}
{% endblock %}

{% block content %}
    {% import "_includes/forms" as forms %}

    <h1>{{ "Send SMS"|t('sms77') }}</h1>

    <form action='{{ actionUrl('sms77/message/sms') }}' method='post'>
        {{ csrfInput() }}
        {{ common.filters() }}
        {{ common.from() }}
        {{ common.to() }}

        <div style='display: flex;'>
            {{ forms.lightswitch({
                id: 'debug',
                label: "Debug"|t('sms77'),
                name: 'debug',
            }) }}

            {{ forms.lightswitch({
                id: 'performance_tracking',
                label: "Performance Tracking"|t('sms77'),
                name: 'performance_tracking',
            }) }}

            {{ forms.lightswitch({
                id: 'flash',
                label: "Flash"|t('sms77'),
                name: 'flash',
            }) }}

            {{ forms.lightswitch({
                id: 'no_reload',
                label: "No Reload"|t('sms77'),
                name: 'no_reload',
            }) }}

            {{ common.json() }}
        </div>

        {{ forms.textField({
            id: 'label',
            instructions: 'A maximum of 100 characters; allowed characters: a-z, A-Z, 0-9, .-_@'|t('sms77'),
            label: "Custom label"|t('sms77'),
            maxlength: 100,
            name: 'label',
        }) }}

        {{ forms.textField({
            id: 'foreign_id',
            instructions: 'A maximum of 64 characters; allowed characters: a-z, A-Z, 0-9, .-_@'|t('sms77'),
            label: "Foreign ID returned in DLR callbacks etc."|t('sms77'),
            maxlength: 64,
            name: 'foreign_id',
        }) }}

        {{ forms.textField({
            id: 'delay',
            instructions: 'Date/time for time-delayed SMS in the format of an UNIX timestamp or yyyy-mm-dd'|t('sms77'),
            label: "Delay"|t('sms77'),
            maxlength: 64,
            name: 'delay',
        }) }}

        {{ common.text(1520) }}
        {{ common.submit() }}
    </form>
{% endblock %}