{% import 'seven/common' as common %}
{% extends '_layouts/cp' %}

{% set title = 'Send Voice'|t('seven') %}

{% block header %}
    {{ common.checkApiKey() }}
    {{ common.messages() }}
{% endblock %}

{% block content %}
    {% import '_includes/forms' as forms %}

    <h1>{{ 'Send Voice'|t('seven') }}</h1>

    <form action='{{ actionUrl('seven/message/voice') }}' method='post'>
        {{ csrfInput() }}
        {{ common.filters() }}
        {{ common.from() }}
        {{ common.to() }}

        <div style='display: flex;'>
            {{ forms.lightswitch({
                id: 'xml',
                label: 'XML',
                name: 'xml',
            }) }}

            {{ common.json() }}
        </div>

        {{ common.text(10000) }}
        {{ common.submit() }}
    </form>
{% endblock %}
